body {
  background: linear-gradient(
    110.6deg,
    rgb(184, 142, 252) 2.2%,
    rgb(104, 119, 244) 100.2%
  );

  background-size: 5000px 5000px;

  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  font-size: 22px;
}
header {
  padding: 0 0 30px 0;
}
a {
  color: #8f71ff;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px;
}
.weather-app-city {
  padding: 16px;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #f65282;
}
.weather-temperature-container {
  display: flex;
}
.temperature-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: 400;
}
.icon {
  width: 65px;
  height: 65px;
  line-height: 88px;
}
.unit {
  margin-top: 10px;
  font-size: 40px;
}
.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(186, 190, 245) 0%,
    rgb(192, 192, 245) 33.1%,
    rgb(218, 203, 246) 90%
  );

  border-radius: 15px;
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-form-input {
  background: #ebfffa;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 18px;
  font-size: 16px;
}
.search-form-button {
  background: #8f71ff;
  padding: 18px 18px;
  border: none;
  border-radius: 6px;
  color: white;

  font-size: 17px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-icon {
  text-align: center;
  font-size: 38px;
  margin-bottom: 12px;
}
.weather-forecast-temperatures {
  margin-top: 12px;
  text-align: center;
  color: #f65282;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
